<header>
    <a href='/' class="logo">
        <h1>MovieRama</h1>
    </a>
   <% if Current.session %>
        <div class="session">
            <%= form_with url: logout_path, method: "delete" do |form| %>
                <%= form.submit "Logout", class: "button-link" %>
            <% end %>
        </div>
    <% else %>
        <div class="session">
            <a href="/login">Log in</a>
            <span>or</span>
            <a href="/sign-up" class='button-link'>Sign up</a>
        </div>
    <% end  %>
</header>