<div class='sort-wrapper'>
    <span>Sort by:</span>
    <div class='sort-links'>
        <%= link_to 'Likes', movies_path(sort:  'likes') %> |
        <%= link_to 'Hates', movies_path(sort:  'dislikes') %> |
        <%= link_to 'Date', movies_path(sort:  'date') %>
    </div>
</div>