<div class="vote-wrapper">
    <% if current_user.likes?(movie) %>
        <span class="votes">
            You like this movie |
            <%= button_to "Unlike", movie_votes_path(movie.id), method: :delete, class: "vote-submit" %>
        </span>
    <% elsif current_user.dislikes?(movie) %>
        <span class="votes">
            You hate this movie |
            <%= button_to "Unhate", movie_votes_path(movie.id), method: :delete, class: "vote-submit" %>
        </span>
    <% end %>
</div>