<div class="vote-wrapper">
    <%= render partial: "components/vote_link", locals: { user: current_user, movie: movie, vote_type: "like" } %>
    |
    <%= render partial: "components/vote_link", locals: { user: current_user, movie: movie, vote_type: "dislike" } %>
</div>