<%= render 'components/movie_sort_bar' %>
<section class="content">
    <%= render partial: 'components/movie_list', locals: { movies: @movies, current_user: Current.session&.user } %>

    <% if Current.session %>
        <%= render 'components/new_movie_cta' %>
    <% end %>
</section>